/* ========== VARIABLES ========== */
:root {
    --color-blue: #07c;
    --color-blue-light: #f5fcff;
    --color-blue-dark1: #07c;
    --color-blue-dark2: #049;
    --color-pink: #f1408b;
    --color-pink-light: #fff5f9;
    --color-pink-dark: #b31b57;
    --color-red: #e60011;
    --color-red-dark: #680404;
    --color-green: #4a8a33;
    --color-green-light1: #b1c795;
    --color-white: #fff;
    --color-black: #090909;
    --color-grey: #333;
    --color-grey-light: #d9d9d9;

    --font-heading: 'Montserrat', sans-serif;
    --font-default: 'Roboto', sans-serif;

    --width-character-form: 30rem;
    --width-character-form-btn: 13rem;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
    font-family: var(--font-default);
    min-height: 100vh;
    line-height: 1.6;
    color: var(--color-black);
    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
}


/* ========== HEADINGS ========== */
h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-white);
    background: var(--color-blue);
}

h2 {
    font-size: 3.5rem;
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    border-bottom: 2px solid var(--color-black);
    color: var(--color-black);
}

/* ========== BUTTONS ========== */
.btn-char {
    margin: 0 1rem 1rem 0;
    padding: .5rem 2rem;
    text-transform: capitalize;
    border: 1px solid var(--color-blue-dark1);
    color: var(--color-blue-dark1);
    border-radius: .5rem;
    box-shadow: 1px 2px 0px 1px var(--color-grey-light);
    -moz-box-shadow: 1px 2px 0px 1px var(--color-grey-light);
    -webkit-box-shadow: 1px 2px 0px 1px var(--color-grey-light);
    cursor: pointer;
}

.btn-pink {
    color: var(--color-white);
    background: var(--color-pink);
    text-transform: capitalize;
    border-radius: .5rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.btn-blue {
    padding: .7rem 1rem;
    color: var(--color-white);
    background: var(--color-blue);
    text-transform: capitalize;
    border-radius: 5rem;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}


/* ========== HEADER ========== */
header {
    padding: 2rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-blue-light);
    border-bottom: 1px solid var(--color-blue-dark1);
}

#buttons-view {
    margin-right: 2rem;
}

.character-form {
    width: 100%;
    height: 3rem;
    margin: .5rem 0 1rem;
    display: flex;
}

.character-input__label {
    display: none;
}

.character-input {
    width: calc(100% - var(--width-character-form-btn));
    height: 100%;
    padding: .5rem 1rem;
    vertical-align: middle;
    border: 1px solid var(--color-grey-light);
    border-right: none;
    outline: none;
}

#add-character {
    width: var(--width-character-form-btn);
    height: 100%;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-radius: 0 .5rem .5rem 0;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}

/* ========== MAIN CONTENTS ========== */
.container {
    width: 100%;
    max-width: 1200px;
    min-height: calc(100vh - 8rem);
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background: var(--color-white);
    /*border: 1px solid var(--color-grey-light);*/
}

.message-container {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: 1px solid var(--color-pink);
    color: var(--color-pink);
    background: var(--color-pink-light);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.message-container .message {
    display: inline-block;
}

.message-container ion-icon {
    margin-right: .5rem;
    color: var(--color-pink);
    font-size: 2.2rem;
}

.gifs-container {
    position: relative;
}

.gif-image {
    cursor: pointer;
}

#show-more {
    line-height: 1;
    display: flex;
    align-items: center;
}

#show-more ion-icon {
    margin-right: .5rem;
    color: var(--color-white);
    font-size: 1.8rem;
}

#gifs-view {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--color-grey);
}

.gif-item {
    width: 48%;
    margin-bottom: 1rem;
}

.gif-item img {
    width: 100%;
}

.gif-item .title {
    margin-bottom: .5rem;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 500;
}

.image-container {
    position: relative;
}

.gif-item .rating {
    padding: .3rem .5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 5;
    background: var(--color-blue-dark2);
    color: var(--color-white);
    line-height: 1;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 var(--color-white);
}

.gif-item .favorite-btn {
    /*width: 2rem;*/
    /*height: 2rem;*/
    padding: .2rem .5rem;
    color: var(--color-white);
    background: var(--color-pink);
    position: absolute;
    bottom: 1.2rem;
    right: .5rem;
    z-index: 5;
    border: 1px solid var(--color-pink-dark);
    border-radius: 3rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gif-item .favorite-btn span {
    font-weight: normal;
}

.gif-item .favorite-btn ion-icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: .3rem;
}


@media screen and (min-width: 641px) {
    /* width: 641px to 768px */
    html {
        font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
    }

    .gif-item {
        width: 31%;
    }
}

@media screen and (min-width: 769px) {
    /* width: 769px to  */
    header {
        padding: 1rem 3rem 0 3rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .character-form {
        width: var(--width-character-form);
        height: 3rem;
        margin-top: 0;
        display: flex;
    }

    .character-input__label {
        display: none;
    }

    .character-input {
        width: calc(var(--width-character-form) - var(--width-character-form-btn));
        height: 100%;
        padding: .5rem 1rem;
        vertical-align: middle;
        outline: none;
    }

    #add-character {
        width: var(--width-character-form-btn);
        height: 100%;
        margin-left: -.8rem;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        border-radius: 0 .5rem .5rem 0;
        vertical-align: middle;
        cursor: pointer;
        outline: none;
    }

    .gif-item {
        width: 22%;
        margin-bottom: 2rem;
    }
}



